/* Fuente para textos */
@import url("https://fonts.googleapis.com/css2?family=Gruppo&family=Roboto+Flex:opsz,wght@8..144,200&display=swap");

/* paleta de colores 
DCCE57
DBE0CF
D13E2D
233941
E5A31E */
/* 
305F67
DBE0C8
C3A260
D23E2E
F4A30A */

/*
colores seleccionados 
DBE0CF
DCCB57
ECAB17
D63E2F
2F5259 */

/* BODY */
body {
  background: #d9d7b5;
}

/* LOADER */
.containerLoader {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

/* NAVBAR */
nav {
  height: 150px;
}

.navColor {
  background-color: #2F5259;
}

nav img {
  width: 200px;
}

.navMenu {
  font-size: 25px;
}

/* HOME */
/* Card Historia */
.homeMain {
  margin: 20px;
}


.homeSection {
  margin: 15px;
  padding: 15px;
}

.homeSectionCard {
  padding: 10px;
  border-radius: 50px;
  background: linear-gradient(145deg, #c3c2a3, #e8e6c2);
  box-shadow: 20px 20px 60px #aeac91, -20px -20px 60px #ffffd9;
}

.homeSectionCard img {
  width: 550px;
  float: left;
  margin: 10px;
  padding: 15px;
  border-radius: 50px;
}

.homeSectionHistory {
  margin: 25px;
  padding: 15px;
  font-size: 20px;
}
.homeSectionHistory h2 {
  text-align: center;
}

/* Card Creadores */
.homeSectionCreate {
  padding: 12px;
  border-radius: 40px;
  background: linear-gradient(145deg, #d63e2f, #e54232);
  box-shadow: 26px 26px 50px #c63d31, inset -15px -15px 55px #ff4d3a;
}

.homeCardBody {
  display: grid;
  grid-template-columns: 4fr 2fr;
  grid-template-rows: auto;
  gap: 2px;
}

.homeSectionSub {
  margin: 10px;
  padding: 10px;
  color: #f7f5d2;
  font-size: 30px;
  text-align: center;
}

.homeCardText {
  padding: 10px;
  color: #f7f5d2;
  font-size: 20px;
}

.homeCardLink {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
}
.homeSectionLink {
  color: #f7f5d2;
  text-decoration: none;
  font-size: 22px;
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  text-align: center;
}


/* LIST POKEMONS */
.listPokemonStyle {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, ifr)); */
}

/* CARD POKEMON */
.cardPokemonStyle {
  width: 18rem;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.cardPokemonImg {
  width: 15rem;
}

/* CARD DETAIL POKEMONS */
.cardDetailPokemon {
  width: 18rem;
  display: flex;
}


/* FOOTER */

footer {
  margin-top: 4rem;
  background-color: black;
  height: 250px;
}